# project specific
# ...

# .env, local config
.env
config/local*

# editors
.idea
.vscode
*.code-workspace
*.iml
*.ipr
*.swp

# OS
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
